@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
body {
  background-color: black;
}

.board-container{
  position: relative;
  width: 600px;
  display: block;
  margin: auto;
  .board {
    float: left;
    width: 600px;
    border: 1px solid black;
    border-bottom: none;
    display: inline-block;
    .row {
      width: 100%;
      .cell {
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        width: 20%;
        float: left;
      }
    }
  }
  form {
    width: 100%;
    float: left;
    border: 1px solid black;
    input {
      width: 100%;
      max-width: 100%;
      border: none;
      text-align: center;
      padding: 0;
      line-height: 3rem;
      &:focus {
        outline: none;
      }
    }
  }
}
.site-title {
  text-align: center;
  font-size: 4rem;
  font-family: 'Audiowide';
  text-transform:uppercase;
  color: rgb(46, 204, 113);
  text-shadow: 0 1px 0 rgb(39, 174, 96),
   0 2px 0 rgb(36, 171, 93) ,
   0 3px 0 rgb(21, 156, 172) ,
   0 4px 0 rgb(18, 153, 169) ,
   0 5px 0 rgb(3 , 138, 154)


}
#status-message {
  font-family: 'Audiowide';
  position: absolute;
  width: 100%;
  display: inline-block;
  top: 150px;
  text-align: center;
  text-transform: uppercase;
}
